auth_enabled: false

server:
  http_listen_port: 3100
  grpc_listen_port: 9095
  log_level: info

common:
  ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: inmemory
  replication_factor: 1
  path_prefix: /tmp/loki

schema_config:
  configs:
  - from: {{.FromDate}}
    store: tsdb
    object_store: filesystem
    schema: v13
    index:
      prefix: index_
      period: 24h

storage_config:
  tsdb_shipper:
    active_index_directory: {{.StoragePath}}/tsdb-index
    cache_location: {{.StoragePath}}/tsdb-cache
    cache_ttl: 24h
  filesystem:
    directory: {{.StoragePath}}/chunks

limits_config:
  retention_period: {{.RetentionPeriod}}

compactor:
  working_directory: {{.StoragePath}}/compactor
  compaction_interval: 10m
  retention_enabled: true
  retention_delete_delay: 2h
  retention_delete_worker_count: 150
  delete_request_store: filesystem